/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mar-2016, 16.37.32
    Author     : sara
*/
/*Inserisco il colore di sfondo, il font e il colore del testo  */
body
{ 
    background-color: bisque;
    font-size: 14px;
    font-family: "Open Sans", Times new roman, serif;
    color: black;
}
 
/*Inserisco il font e il colore per i tag h1-h3*/
h1
{
    text-align: center;
    font-family: "Open Sans", Sign Painter;
    color: deepskyblue;
}

h2
{
    font-family:"Open Sans", Verdana;
    color: darkcyan;
}

h3
{
    font-family:"Open Sans", Arriciati;
    color: darkcyan;
}

/*Inserisco le proprietà per i link visitati*/
a:link
{
    font-family: Italic;
    color: darkcyan;
}
/*proprietà per i link visitati*/
a:visited
{
    text-decoration: underline;
    
} 
/*lo stile per quando ci passo sopra con il mouse*/
a:hover
{
    font-weight: bold;
}
/*visualizzazione campi di input*/
input:focus, textArea:focus
{
    background-color: aquamarine;
    border-color: deepskyblue;
}

/*Proprietà per l'intera tabella'*/
table
{
    width: 90%;
    height: 300px;
    border: 1px solid;
    border-color: darkcyan;  
}
/*Proprietà per l'intestazione'*/
th
{
   font-family: "Open Sans", Verdana;
   color: deepskyblue;
   font-size:16px;
   border: 1px solid;
   border-color: darkcyan;
   text-align: center;
   
}
/*Proprietà per le celle*/
td
{
    border: 1px solid;
    border-color: darkcyan;  
    text-align: center;
}

/*cambio il colore di sfondo delle righe pari(even)*/
tr:nth-child(even)
{
    background-color: aliceblue;
}

/*cambio il colore di sfondo delle righe dispari(odd))*/
tr:nth-child(odd)
{
    background-color: beige;
}
/*proprietà bottoni*/
.pulsanti
{
   border-bottom-color: aquamarine;
   text-align: center;
   margin: 5px;
   width: 400px;
       
}

/*stile form per inserire l'oggetto e per il login*/
form
{
   border-radius: 15px;
   width: 600px;
   padding: 30px;
   overflow: hidden;
}
/*proprietà label*/
label
{
    display: block;
    line-height: 20px;
    width: 200px;
}

label::after, label::before
{
   content: '\A';
   white-space: pre;
}
/*proprietà input*/
textArea
{
    border-radius: 15px;
    border: 2px solid;
    border-color: darkcyan;
    width: 30%;
}

input
{
   border: 2px solid;
   border-color: darkcyan; 
   border-radius: 15px;
   width: 30%;
}
/*layout responsive per tutte le pagine

/*Per larghezze maggiori o uguali a 1024px utilizzare 
    un layout a due o tre colonne*/
@media screen and (min-width: 1024px)
{
    .page
    {
        width: 90%;
        padding-left: 120px;
    }
    .header 
    {
        background-color: aliceblue;
        border-color: gray;
        width: 90%;
        height: 100px;
    }
        
    .content
    {
        margin-right: 180px;
        float: none;
    }
    
    .navigazione
    {
        width: 180px;
        padding: 5px;
        height: 230px; 
        float: right;
    }
    
    .footer
    {
        background-color: aliceblue;
        border-color: gray;
        width: 90%;
        height: 80px;
        clear: both;
    }
   
}
/*Per quelli intermedi utilizzare massimo due colonne.*/
@media screen and (min-width: 480px)
              and (max-width: 1024px)
{
   .page
    {
        width: 90%;
        padding-left: 120px;
    }
    .header 
    {
        background-color: aliceblue;
        border-color: gray;
        width: 90%;
        height: 100px;
    }
        
    .content
    {
        margin-right: 180px;
        float: none;
    }
    
    .navigazione
    {
        width: 180px;
        padding: 5px;
        height: 220px; 
        float: right;
    }
    
    .footer
    {
        background-color: aliceblue;
        border-color: gray;
        width: 90%;
        height: 80px;
        clear: both;
    }
}

/*Per larghezze minori o uguali a 480px utilizzare
    un layout ad una sola colonna*/
@media screen and (max-width: 480px)
{
    .page
    {
        padding: 2px;
    }
}